@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

/*Global*/
body {
    min-width: 100%;
    min-height: 100vh;
    background-color: rgba(128, 128, 128, 0.164);
    /*Barra de rolagem*/
    
    &::-webkit-scrollbar {
        width: 6px;
      }
      
      &::-webkit-scrollbar-track {
        background: #422008;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: #cf8901;  
        border-radius: 20px;  
    }
}

/*Images Animation*/
@keyframes imageAnimation {
    from {
        transform: rotateY(90deg);
    }
    to {
        transform: rotateY(0deg);
    }
}
@keyframes nameAnimation {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}
@keyframes cardAnimation {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateX(0deg);
    }
}

/*Nav e Navbar*/
#nav-title {
    font-size: 1.3rem;
    font-family: 'Lexend Deca', sans-serif;  
    color: #f3f3f3;
    animation: nameAnimation 2s;
    
    &:hover { 
        font-weight: bold;
    }
}

.nav-text {
    font-family: 'Lexend Deca', sans-serif;
    
    &:hover {
        color: #fff;
        font-weight: bold;
    }
}

/*Inicio*/
.container {
    background-image: linear-gradient(to right, #cf8901, #422008);
    min-width: 100%;
    height: 45vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #111111;
}

.info {
    display: flex;
    flex-direction: column;
    text-align: center;
    
    .info-item {
        color: #fff;
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
    
    #name {
        color: #111111;
        font-size: 1.5rem;
    }
}

#cv-button {
    background-color: #f3f3f3;
    width: 55%;
    height: 30px;
    margin: auto;
    border: 0;
    border-radius: 10px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);

    a {
        color: #111;
        text-decoration: none;
    }
    
    &:hover {
        transition: all 0.6s ease;
        background-color: #000;
        border: 0;
        color: white;

        a {
            color: #f3f3f3;
        }
    }
}

.image {
    #config-image {
        border: 2px solid black;
        margin: auto;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
        border-radius: 10px;
        animation: imageAnimation 1s;
    }

    &:hover {
        transform: scale(1.05);
    }
}

/*Responsividade - Inicio*/
@media (max-width: 440px) {
    .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .info-item {
            color: #fff;
            font-weight: bold;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
        
        #name {
            color: #111111;
            font-size: 1.3rem;
        }
    }
}

@media (max-width: 370px) {
        .info {
        display: flex;
        flex-direction: column;
        text-align: center;
        
        .info-item {
            color: #fff;
            font-weight: bold;
            font-size: 0.7rem;
            line-height: 1.3rem;
        }
        
        #name {
            color: #111111;
            font-size: 1rem;
        }

        #cv-button {
            background-color: #f3f3f3;
            color: black;
            width: 60%;
            height: 30px;
            margin: auto;
            font-size: 0.85rem;
            border: 0;
            border-radius: 10px;
            
            &:hover {
                transition: all 0.6s ease;
                background-color: #000;
                border: 0;
                color: white;
            }
        }
    }
}

@media (max-width: 340px) {
        .info {
            text-align: center;
            margin: auto;
        
        .info-item {
            color: #fff;
            font-weight: bold;
            font-size: 1rem;
            line-height: 1.7rem;
        }
        
        #name {
            color: #111111;
            font-size: 1.7rem;            
        }        
    }
    
    .image {
        display: none;
    }
}

@media (max-width: 314px) {
    .info {
        text-align: center;
        margin: auto;
    
        .info-item {
        color: #fff;
        font-weight: bold;
        font-size: 0.9rem;
        line-height: 1.8rem;
        }
    
        #name {
        color: #111111;
        font-size: 1.3rem;            
        }        
    }

    .image {
        display: none;
    }
}

/*Sobre*/
.container-sobre {
    background-image: linear-gradient(to right, #f3f3f3, #bfbfbf);
    display: flex;
    min-width: 100%;
    min-height: 60vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-family: 'Lexend Deca', sans-serif;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #111111;

    .texto-sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

        .title {
            width: 80%;
            color: #422008;
            font-size: 1.3rem;
            padding-bottom: 8px;
            border-bottom: 1px solid #422008;
        }
        .formacao {
            width: 80%;
            margin: 0;
            padding-top: 5px;
            font-size: 0.7rem;
            text-align: justify;
            line-height: 1.4rem;

            .destaque {
                font-weight: bold;
                color: black;
            }
        }
    }

    .cartoes-sobre {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        animation: imageAnimation 1s; 
        
        .card-layout {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            .card {
                background-color: #111111;
                color: #cf8901;
                box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
                border: 1px solid #fff;
                border-radius: 10px;
                margin: 12px;            

                .card-list {
                    height: 110px;
                    width: 180px;
                    padding: 0;
                    margin: 0;
                    text-align: center;
                    list-style: none;

                    .list-title {
                        margin: 0;
                        color: #fff;
                        font-size: 1.2rem;
                    }
                    
                    .list-item {
                        font-size: 0.9rem;
                        margin-bottom: 5px;
                    }
                }
            }

            .img {
                #config-image {
                    border: 2px solid #111;
                    border-radius: 10px;
                    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
                }
            }
        }
    }    
}

/*Responsividade - Sobre*/
@media (min-width: 733px) {
    .container-sobre {
        .texto-sobre {
            .title {
                width: 87%;
                font-size: 1.1rem;
            }
            .formacao {
                width: 87%;
                font-size: 0.7rem;
            }
        }
    }
}

@media (max-width: 721px) {
    .container-sobre {
        .texto-sobre {
            .title {
                width: 70%;
                font-size: 0.9rem;
                margin-top: 20px;
                text-align: justify;
            }
            .formacao {
                width: 70%;
                text-align: justify;
                margin-bottom: 20px;
                font-size: 0.6rem;
                line-height: 1.3rem;
            }
        }
    }
}

@media (max-width: 660px) {
    .container-sobre {
        .texto-sobre {
            .title {
                width: 60%;
                font-size: 0.8rem;
                margin-top: 20px;
                text-align: justify;
            }
            .formacao {
                width: 60%;
                text-align: justify;
                margin-bottom: 20px;
                font-size: 0.5rem;
                line-height: 1.1rem;
            }
        }
    }
}

@media (max-width: 620px) {
    .container-sobre {
        .texto-sobre {
            .title {
                width: 69%;
                font-size: 0.8rem;                
                text-align: justify;
            }
            .formacao {
                width: 66%;
                text-align: justify;
                font-size: 0.5rem;
                line-height: 1rem;
            }
        }
    }
}

@media (max-width: 610px) {
    .container-sobre {
        display: grid;
        grid-template-columns: 1fr;

        .texto-sobre {
            .title {
                width: 85%;
                font-size: 1.3rem;                
                text-align: justify;
            }
            .formacao {
                width: 85%;
                text-align: justify;
                font-size: 0.7rem;
                line-height: 1.3rem;
            }
        }
    }
}
@media (max-width: 450px) {
    .container-sobre {
        display: grid;
        grid-template-columns: 1fr;

        .texto-sobre {
            .title {
                width: 85%;
                font-size: 1.3rem;                
                text-align: justify;
            }
            .formacao {
                width: 85%;
                text-align: justify;
                font-size: 0.7rem;
                line-height: 1.3rem;
            }
        }

        .cartoes-sobre {
            .card-layout {
                .img {
                    #config-image {
                        width: 140px;
                        height: 100px;
                    }
                }

                .card {
                    width: 140px;
                    height: 100px;

                    .card-list {
                        .list-title {
                            margin-right: 40px;
                        }
                        .list-item {
                            margin-right: 40px;
                            margin-bottom: 2px;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 370px) {
    .container-sobre {
        display: grid;
        grid-template-columns: 1fr;

        .texto-sobre {
            .title {
                width: 90%;
                font-size: 1.3rem;                
                text-align: justify;
            }
            .formacao {
                width: 90%;
                text-align: justify;
                font-size: 0.7rem;
                line-height: 1.3rem;
            }
        }

        .cartoes-sobre {
            .card-layout {
                .img {
                    #config-image {
                        width: 130px;
                        height: 90px;
                    }
                }

                .card {
                    width: 130px;
                    height: 90px;

                    .card-list {
                        .list-title {
                            margin-right: 50px;
                            font-size: 1rem;
                        }
                        .list-item {
                            margin-right: 50px;
                            font-size: 0.8rem;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 367px) {
    .cartoes-sobre {
        .img {
            #config-image {
                display: none;
            }
        }        
    }
}   
@media (max-width: 300px) {
    .container-sobre {
        .texto-sobre {
            .title {
                width: 87%;
                font-size: 1rem;                
                text-align: justify;
            }
            .formacao {
                width: 87%;
                text-align: justify;
                font-size: 0.6rem;
                line-height: 1.3rem;
            }
        }
    }
} 

/*Skills*/
.container-skills {
    background-image: linear-gradient(to left, #cf8901, #422008);
    min-width: 100%;
    min-height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #111111;

    .conteudo-skills {
        background-color: #f3f3f3;
        width: 47%;
        border: 1px solid #111111;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
        border-radius: 10px;

        .skills-title {
            color: #422008;
            text-align: center;
            padding: 10px 0;
            font-size: 1.5rem;
        }

        .skills-images {
            margin: -15px 5px 15px 0px;
            text-align: center;

            img {
                margin: 0 5px;

                &.new-HW {
                    margin-right: -0.3px;
                }
            }
        }
    }
}

/*Responsividade - Skills*/
@media (max-width: 926px) {
    .container-skills {
        .conteudo-skills {
            width: 49%;
        }
    }
}
@media (min-width: 886px) {
    .container-skills {
        .conteudo-skills {
            width: 50%;
        }
    }
}
@media (max-width: 879px) {
    .container-skills {
        .conteudo-skills {
            width: 53%;
        }
    }
}
@media (max-width: 820px) {
    .container-skills {
        .conteudo-skills {
            width: 54%;
        }
    }
}
@media (max-width: 805px) {
    .container-skills {
        .conteudo-skills {
            width: 55%;
        }
    }
}
@media (max-width: 791px) {
    .container-skills {
        .conteudo-skills {
            width: 56%;
        }
    }
}
@media (max-width: 777px) {
    .container-skills {
        .conteudo-skills {
            width: 57%;
        }
    }
}
@media (max-width: 764px) {
    .container-skills {
        .conteudo-skills {
            width: 58%;
        }
    }
}
@media (max-width: 750px) {
    .container-skills {
        .conteudo-skills {
            width: 59%;
        }
    }
}
@media (max-width: 738px) {
    .container-skills {
        .conteudo-skills {
            width: 60%;
        }
    }
}
@media (max-width: 725px) {
    .container-skills {
        .conteudo-skills {
            width: 61%;
        }
    }
}
@media (max-width: 714px) {
    .container-skills {
        .conteudo-skills {
            width: 62%;
        }
    }
}
@media (max-width: 702px) {
    .container-skills {
        .conteudo-skills {
            width: auto;
        }
    }
}
@media (max-width: 460px) {
    .container-skills {
        .conteudo-skills {
            width: 35vh;
            height: 18vh;

            .skills-images {
                img {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
@media (max-width: 375px) {
    .container-skills {
        .conteudo-skills {
            width: 40vh;
            height: 25vh;

            .skills-images {
                img {
                    margin-bottom: 5px;
                }
            }
        }
    }
}
@media (max-width: 290px) {
    .container-skills {
        .conteudo-skills {
            width: 35vh;
            height: 23vh;

            .skills-title {
                p {
                    margin-bottom: 5px;   
                }
            }
            .skills-images {
                img {
                    height: 35px;
                    width: 45px;
                    margin: 5px 5px 3px 3px;

                    &.new-HW {
                        width: 48px;
                        height: 40px; 
                    }
                }
            }
        }
    }
}


/*Projetos*/
.conteudo-projetos {
    background-image: linear-gradient(to right, #bfbfbf, #f3f3f3);
    min-width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
    border-bottom: 1px solid #111111;

    .title-projetos {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        p {
            color: #422008;
            font-size: 1.3rem;
            margin: 20px 0;
        }
    }

    .cards-projetos {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        animation: cardAnimation 2s;

        .card-style {
            border: 1px solid #111111;
            margin-bottom: 30px;
            background-image: linear-gradient(to right, #cf8901, #422008);
            color: white;

            .card-title {
                text-align: center;
            }

            .card-text {
                color: #111111;
                font-size: 0.7rem;
                text-align: justify;
            }

            .card-image {
                height: 105px;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                border-bottom: 1px solid #111111;
            }

            .btn-card {
                background-color: #f3f3f3;
                color: black;
                display: flex;
                align-items: center;
                width: 75%;
                font-size: 0.8rem;
                height: 25px;
                margin: auto;
                border: 0;
                border-radius: 5px;
                box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);

                a {
                    color: black;
                    text-decoration: none;
                }
                
                &:hover {
                    transition: all 0.6s ease;
                    background-color: #000;
                    border: 0;
                    color: white;

                    a {
                        color: #f3f3f3;
                    }
                }
            }
                
            &:hover {
                box-shadow: 2px 3px 8px rgba(12, 12, 12, 0.7);
            }
        }

    }
}

/*Responsividade - Projetos*/
@media (max-width: 870px) {
    .conteudo-projetos {
        .cards-projetos {
            display: grid;
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            align-items: center;
        }
    }
}
@media (max-width: 450px) {
    .conteudo-projetos {
        .cards-projetos {
            display: grid;
            grid-template-columns: 1fr;
            justify-items: center;
            align-items: center;
        }
    }
}

/*Footer*/
.container-footer {
    background-color: #111111;
    min-width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);

    .conteudo-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .footer-title {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid #cf8901;
            width: 100%;

            h1 {
                font-size: 1.8rem;
                margin: 0;
                color: #cf8901;
            }
            h3 {
                font-size: 1.1rem;
                margin-bottom: 5px;
                color: #f3f3f3;
            }
        }

        .footer-list {
            display: flex;
            flex-direction: row;

            .list-item {
                padding: 5px 10px 0px 10px;
                text-align: center;
                color: #fff;

                &:hover {
                    color: #cf8901;
                    transition: all 0.5s ease;
                }
            }            
        }
    }
}

/*Responsividade - Footer*/
@media (max-width: 375px) {
    .container-footer {    
        .conteudo-footer {
            .footer-title {
                h1 {
                    font-size: 1.5rem;
                    margin: 0;
                    color: #cf8901;
                }
                h3 {
                    font-size: 0.9rem;
                    margin-bottom: 5px;
                    color: #f3f3f3;
                }
            }
        }
    }
}
@media (max-width: 330px) {
    .container-footer {  
        height: 20vh;
         
        .conteudo-footer {
            .footer-title {
                h1 {
                    font-size: 1.3rem;
                    margin: 0;
                    color: #cf8901;
                }
                h3 {
                    font-size: 0.7rem;
                    margin-bottom: 5px;
                    color: #f3f3f3;
                }
            }
            .footer-list {    
                .list-item {
                    font-size: 0.9rem;
                }            
            }
        }
    }
}
@media (max-width: 290px) {
    .container-footer {           
        .conteudo-footer {
            .footer-title {
                h1 {
                    font-size: 1.1rem;
                    margin: 0;
                    color: #cf8901;
                }
                h3 {
                    font-size: 0.7rem;
                    margin-bottom: 5px;
                    color: #f3f3f3;
                }
            }
            .footer-list {    
                .list-item {
                    font-size: 0.8rem;
                }            
            }
        }
    }
}





