@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
/*Global*/
body {
  min-width: 100%;
  min-height: 100vh;
  background-color: rgba(128, 128, 128, 0.164);
  /*Barra de rolagem*/
}
body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-track {
  background: #422008;
}
body::-webkit-scrollbar-thumb {
  background-color: #cf8901;
  border-radius: 20px;
}

/*Nav e Navbar*/
#nav-title {
  font-size: 1.3rem;
  font-family: "Lexend Deca", sans-serif;
  color: #f3f3f3;
}
#nav-title:hover {
  font-weight: bold;
}

.nav-text {
  font-family: "Lexend Deca", sans-serif;
}
.nav-text:hover {
  color: #fff;
  font-weight: bold;
}

/*Inicio*/
.container {
  background-image: linear-gradient(to right, #cf8901, #422008);
  min-width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #111111;
}

.info {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.info .info-item {
  color: #fff;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 1.5rem;
}
.info #name {
  color: #111111;
  font-size: 1.5rem;
}

#cv-button {
  background-color: #f3f3f3;
  color: black;
  width: 55%;
  height: 30px;
  margin: auto;
  border: 0;
  border-radius: 10px;
}
#cv-button:hover {
  transition: all 0.6s ease;
  background-color: #000;
  border: 0;
  color: white;
}

.image #config-image {
  border: 2px solid black;
  margin: auto;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
}

/*Responsividade - Inicio*/
@media (max-width: 440px) {
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .info .info-item {
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.5rem;
  }
  .info #name {
    color: #111111;
    font-size: 1.3rem;
  }
}
@media (max-width: 370px) {
  .info {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .info .info-item {
    color: #fff;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.3rem;
  }
  .info #name {
    color: #111111;
    font-size: 1.1rem;
  }
  .info #cv-button {
    background-color: #f3f3f3;
    color: black;
    width: 60%;
    height: 30px;
    margin: auto;
    border: 0;
    border-radius: 10px;
  }
  .info #cv-button:hover {
    transition: all 0.6s ease;
    background-color: #000;
    border: 0;
    color: white;
  }
}
@media (max-width: 340px) {
  .info {
    text-align: center;
    margin: auto;
  }
  .info .info-item {
    color: #fff;
    font-weight: bold;
    font-size: 1rem;
    line-height: 1.7rem;
  }
  .info #name {
    color: #111111;
    font-size: 1.8rem;
  }
  .image {
    display: none;
  }
}
@media (max-width: 314px) {
  .info {
    text-align: center;
    margin: auto;
  }
  .info .info-item {
    color: #fff;
    font-weight: bold;
    font-size: 0.9rem;
    line-height: 1.8rem;
  }
  .info #name {
    color: #111111;
    font-size: 1.3rem;
  }
  .image {
    display: none;
  }
}
/*Sobre*/
.container-sobre {
  background-image: linear-gradient(to right, #f3f3f3, #bfbfbf);
  display: flex;
  min-width: 100%;
  height: 60vh;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid #111111;
}
.container-sobre .texto-sobre {
  display: flex;
  flex-direction: column;
  height: 75%;
  margin-left: 50px;
}
.container-sobre .texto-sobre .title {
  width: 65%;
  text-align: justify;
  color: #422008;
  font-size: 1.3rem;
  padding-bottom: 5px;
  border-bottom: 1px solid #422008;
}
.container-sobre .texto-sobre .formacao {
  width: 65%;
  padding-top: 15px;
  margin: 0;
  font-size: 0.7rem;
  text-align: justify;
  line-height: 1.4rem;
}
.container-sobre .texto-sobre .formacao .destaque {
  font-weight: bold;
  color: black;
}
.container-sobre .cartoes-sobre {
  display: flex;
  flex-direction: column;
}
.container-sobre .cartoes-sobre .card-layout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-sobre .cartoes-sobre .card-layout .card {
  background-color: #111111;
  color: #cf8901;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
  border: 1px solid #fff;
  border-radius: 10px;
  margin: 5px 50px;
}
.container-sobre .cartoes-sobre .card-layout .card .card-list {
  width: 140px;
  height: 110px;
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}
.container-sobre .cartoes-sobre .card-layout .card .card-list .list-title {
  margin: 0;
  color: #fff;
  font-size: 1.2rem;
}
.container-sobre .cartoes-sobre .card-layout .card .card-list .list-item {
  font-size: 0.9rem;
  margin-bottom: 5px;
}
.container-sobre .cartoes-sobre .card-layout #config-image {
  border: 2px solid #111;
  border-radius: 10px;
  margin: auto;
  box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
}

/*# sourceMappingURL=App.css.map */
