@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

#nav-title {
    font-size: 1.3rem;
    font-family: 'Roboto', sans-serif;  
}

.nav-text {
    font-family: 'Roboto', sans-serif;
}

.nav-text:hover {
    color: white;
    font-weight: bold;
}
